body{
    margin: 0;
}
.main-header{
    padding-top: 10px;
    background-color:  #f5f5f5;
    text-align: center;
    top: 0;
    box-shadow: 0 4px 2px -2px #808080;
}
a,nav a{
    text-decoration: none;
    color: #000000;
}
.main-nav__item{
    display: inline-block;
    width: 20%;
    font-size: 1.2em;
}
a:hover{
    color: #ffffff;
}
a:active{
    font-weight: bold;
}
video{
    width: 900px;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    box-shadow: 8px 8px 8px 8px;
}
.video-pc{
    margin-bottom: 10px;
}
.big-container{
    margin-top: 50px;
    display: flex;
}
#index-section{
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.logo{
    width: 200px;
    height: 130px;
    float: left;
}
.website-title{
    margin:0;
    font-size: 3.5em;
    letter-spacing: normal;
    line-height: normal;
    word-spacing: normal;
    text-indent: 0%;
}
.payoff{
    font-size: 1.2em;
    margin-top: 0;
    font-weight: lighter;
    font-style: italic;
}
nav{
    margin-top:30px;
    padding-bottom: 5px;
}
.index-img{
    float: right;
    width: 400px;
    margin-left: 50px;
}
aside img{
    width: 400px;
}
.img-copy{
    float: right;
}
.main-footer{
    display: flex;
    background-color: #f5f5f5;
    box-shadow: 4px 4px 4px 4px  #808080;
    margin-top: 10px;
}
#index-section>article{
    margin-bottom: 50px;
}
.index-aside{
    width: 25%;
    margin-right: 20px;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 1.3em;
    border-style: double;
    border-color: #000000;
    border-width: 4px;
    background-color: #add8e6 ;
}
.index-aside h2{
    margin-left: 10px;
}
#index-section p{
    margin-top: 50px;
    font-size: 1.2em;
}
#index-section h2{
    font-size: 2em;
}
.copyright-footer{
    width: 70%;
    margin-left: 20px;
}
.cookie-statement{
    background-color: #FFF;
    opacity: 50%;
    float: right;
    color: #FA0;
    z-index: 9999;
    border-style: double;
    border-color: #000000;
    border-width: 4px;
    padding-right: 150px;
    padding-left: 150px;
}
.video-mobile{
    display: none;
}
#grid-section{
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
}
.how-1{
    grid-column: 2/4;
    grid-row: 1/5;
}
.how-2{
    grid-column: 1/2;
    grid-row: 1/2;
}
.how-5{
    grid-column: 1/2;
    grid-row: 2/4;
}
.how-6{
    grid-column:2/4;
}
.how-aside{
    display: grid;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
}
.hos-1{
    grid-column: 1/2;
}
.hos-2{
    grid-column: 2/4;
}
table 
{
    width: 90%;
    margin-top: 20px;
    margin-right: 300px;
    margin-left: 20px;
    border: 1px #000000;
    border-style: double;
}
th{
    background-color: blanchedalmond;
    border: #000000 1px double;
}
td{
    border: #000000 1px double;
}
.big-gridtable{
    display: flex;
}
.table-aside{
    margin-top: 20px;
    width: 20%;
}
