body{
    margin: 0;
}
.main-header{
    padding-top: 10px;
    background-color:  #f5f5f5;
    text-align: center;
    top: 0;
    box-shadow: 0 4px 2px -2px gray;
}
a,nav a{
    text-decoration: none;
    color: #000000;
}
.main-nav__item{
    display: inline-block;
    width: 20%;
    font-size: 1.2em;
}
a:hover{
    color: #ffffff;
}
a:active{
    font-weight: bold;
}
video{
    width: 900px;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    box-shadow: 8px 8px 8px 8px;
}
.video-pc{
    margin-bottom: 10px;
}
#index-section{
    margin-top: 50px;
}
.logo{
    width: 200px;
    height: 130px;
    float: left;
}
.website-title{
    margin:0;
    font-size: 3.5em;
}
.payoff{
    font-size: 1.2em;
    margin-top: 0;
    font-weight: lighter;
    font-style: italic;
}
nav{
    margin-top:30px;
    padding-bottom: 5px;
}